.parallax {
  /* The image used */
  background-image: url("home.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  position: absolute;
  top: 50%; 
  width: 100%;
  text-align: center;
  font-size: 27px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
 
.text .border {

  background-color: green;
  color: white;
  padding: 20px;
  text-decoration: none;
}